.container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 60vw;
  flex-direction: column;
}

video {
  width: 100%;
}

.ad-container {
  display: block;
  max-width: 100%;
}

.banner-ad {
  width: 100%;
  height: 10vh;
}