<div class="uploadForm">
	<mat-form-field class="example-full-width">
		<input id="name" matInput type="text" #name name="name" placeholder="Name">
	</mat-form-field>

	<mat-form-field class="example-full-width">
		<textarea matInput id="videoDesc" type="text" #videoDesc name="videoDesc" cols="40" rows="5" placeholder="Description"></textarea>
	</mat-form-field>

	<!-- <div *ngIf="uploadResponse.status === 'progress'">
		<div role="progressbar" [style.width.%]="uploadResponse.message" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
			{{uploadResponse.message}}% 
		</div>
	</div> -->

	<div class="image-select">
		<button mat-stroked-button (click)="fileInput.click()">Select Video</button>
		<input id="photo" class="image-select" type="file" (change)="onFileChange($event)" #fileInput />
	</div>
	<h5 >{{videoFile && videoFile.name}}</h5>

	<mat-progress-bar  style="margin: 4px 0 4px 0" color='#ffffff' mode="determinate" [value]="uploadResponse.message"></mat-progress-bar>

	<button style="margin: 30px" *ngIf="state == 0" mat-stroked-button color="primary" (click)="onSubmit(name.value, videoDesc.value)">Upload</button>
	<mat-progress-spinner style="height: 36px; width: 36px;" *ngIf="state == 1" mode="indeterminate"></mat-progress-spinner>
	<img style="height: 36px; width: 36px;" *ngIf="state == 2" src="../assets/upload/success.png" />
</div>


