<div class="uploadForm">
	<mat-form-field class="example-full-width">
		<input matInput id="redirect_url" type="url" #redirect_url name="redirect_url" placeholder="Redirect URL">
	</mat-form-field>

	<mat-form-field class="example-full-width">
		<input matInput id="image_link" type="url" #image_link name="image_link" placeholder="Image Link">
	</mat-form-field>

	<mat-form-field class="example-full-width">
		<input matInput id="ad_name" type="text" #ad_name name="ad_name" placeholder="Ad Name">
	</mat-form-field>

	<mat-form-field>
		<mat-label>Category</mat-label>
		<mat-select [(value)]="selectedCategory">
			<mat-option *ngFor="let category of categories" [value]="category">
				{{category}}
			</mat-option>
		</mat-select>
	</mat-form-field>

	<!-- <form class="example-form">
		<mat-form-field class="example-full-width">
			<input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
			<mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
			<mat-option *ngFor="let option of filteredOptions | async" [value]="option">
				{{option}}
			</mat-option>
			</mat-autocomplete>
		</mat-form-field>
	</form> -->

	<button style="margin: 30px" *ngIf="state == 0" mat-stroked-button color="primary" (click)="onSubmit(redirect_url.value, image_link.value, ad_name.value)">Upload</button>
	<mat-progress-spinner style="height: 36px; width: 36px;" *ngIf="state == 1" mode="indeterminate"></mat-progress-spinner>
	<img style="height: 36px; width: 36px;" *ngIf="state == 2" src="../assets/upload/success.png" />
</div>


