#navb {
	background-color: white;
	display: flex;
	flex-direction: row;
	padding: 0 100px 0 100px;
	margin-bottom: 4px;
	justify-content: flex-end;
	box-shadow: 0 1px 3px rgba(10, 10, 10, 0.2);
}

.nav-pills {
	background-color: white;
	font-size: 18px;
	padding: 4px;
	border-radius: 5px;
	margin: 8px;
	outline: none;
	cursor: pointer;
}
.nav-pills:hover {
	background-color: #f2f2f3;
}

#search {
	width: 200px;
	padding: 4px;
	border-radius: 5px;
	margin: 8px;
	border: 1px solid;
	border-color: #f2f2f3;
	text-align: right;
	font-size: 16px;
}